# Node 관련
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-store
.next
dist

# Git 관련
.git
.gitignore

# 에디터 설정
.vscode
.idea

# 로그 / 캐시
*.log
logs/
.cache/
dist/
coverage/

# 운영체제 관련
.DS_Store
Thumbs.db

# 환경 변수 파일 (이미 docker-compose에서 직접 지정)
#.env
#.env.local
